  <div class="landing-page">  
    <main >
      <section class="hero-section">
        <h1>Welcome to My Personal Blog!</h1>
        <p>This is a place where I share my thoughts, experiences, and stories. Feel free to explore the posts and add your own thoughts by creating a new post.</p>
        <p>Discover fascinating articles and stories HERE.</p>

      </section>

      <section class="about-section">
        <h2>About Me</h2>
        <p>
          Add a brief introduction about yourself or the purpose of your blog. You can include your interests, experiences,
          or any other relevant information.<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, distinctio nihil? Illum nesciunt consequuntur ex voluptas a alias dolor animi voluptatum aperiam perferendis, quidem delectus nulla inventore veniam amet tenetur.
        </p>
      </section>
  
      <section class="featured-posts">
        <h2>Featured Posts</h2>
        <div class="post-list ">
          <div class="post-item">
            <img src="https://picsum.photos/seed/picsum/200/100" alt="Post Image">
            <h3>Post Title 1</h3>
            <p>A brief excerpt or summary of the post content.</p>
          </div>
          <div class="post-item">
            <img src="https://picsum.photos/200/100/?blur=1" alt="Post Image">
            <h3>Post Title 2</h3>
            <p>A brief excerpt or summary of the post content.</p>
          </div>
        </div>
      </section>

      <section class="Browse-posts">
        <p>
          Browse through the existing posts or contribute your own to join the conversation!
        </p>
        <a routerLink="/posts" class="action-button">Explore Posts</a>
      </section>
    </main>
  
    <footer>
      <p>&copy; 2023 MyBlog. All rights reserved.</p>
    </footer>
  </div>
  